@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Buyer Name</th>
            <th>Price</th>
            <th>ETA</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.BuyerName</td>
                <td>@order.Price.ToString("C")</td>
                <td>@order.Eta.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@order.OrderStatus.GetDisplayName()</td>
            </tr>
        }
    </tbody>
</table>

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
